<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel = "stylesheet" type="text/css"  href="{{ url_for('static', filename = 'style.css')}}" >
<a href="menu.html">
<input type="button" value="acceuil" class="sortie">
<title>redstone</title>
</head>
<body>
{% include 'base.html' %}
<p> Voici les fermes pour avoir de la nourriture (et autre chose)</p>
<p>Voici la première ferme de pêche pour pêcher du poisson puis le cuire puis le manger</p>
<p>Voici une vidéo</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4MQuH8FPzDM" title="YouTube video player" 
frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p></p>
{% include 'footer.html' %}
</body>
</html>