    {% include 'menus.html' %}
<body class="inscription">
	<div class="form">
		<form action="/inscription/" method="POST">
			 <div class="input">
				<label for="pseudo">Pseudo:</label>
				<input type="text" id="pseudo" name="pseudo">
			</div>
			<div class="input">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email">
			</div>
			<div class="input">
				<label for="password">Password:</label>
				<input type="password" id="password" name="password">
			</div>
			<button type="submit" class="submit">Submit</button>
			{% if error %}
				<div class="error">{{ error }}</div>
			{% endif %}
		</form>
	</div>
</body>
<div class="footer-inscription">
    {% include 'footer.html' %}
</div>