<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" >
        <link rel = "stylesheet" type="text/css"  href="{{ url_for('static', filename = 'style.css')}}" >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Redstone</title>
    </head>
<div class="header">
    <nav>
        <ul class="menu">
            <li><a href="/">Accueil</a></li>
            <li><a href="/introduction/">Leçon</a></li>
            <li><a href="/forum/">Forum</a></li>
            <li><a href="/connexion/">Services</a></li>
            <li class="contact"><a href="/Contact/">Contact</a></li>
            <li class="sign"><a class="inscription" href="/inscription/">Créer un compte</a><br><a class="connexion" href="/connexion/">Connexion</a></li>
        </ul>
    </nav>
</div>